<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <form action="#" th:action="@{/login}" th:object="${user}" method="POST" class="form-signin">
        <input type="text" th:placeholder="Email" th:field="*{eMail}" class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password" th:field="*{passwort}" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 14pt; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="submit">Login</button><br />
        <a th:href="@{/register}">Register</a>
    </form>
</div>
</body>
</html>