<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <form action="#" th:action="@{/register}" th:object="${user}" method="POST" class="form-signin">
        <input type="email" th:field="*{eMail}" th:placeholder="Email"
               class="form-control" required /> <br/>
        <input type="text" th:field="*{vorName}" th:placeholder="Vorname" class="form-control" required />
        <input type="text" th:field="*{nachName}" th:placeholder="Nachname" class="form-control" required />
        <input type="tel" th:placeholder="Telefonnummer" th:field="*{smsNummer}" class="form-control" />
        <input type="password" th:placeholder="Password" th:field="*{passwort}" class="form-control" required />

        <div align="center" th:if="${error}">
            <p style="font-size: 14pt; color: #FF1C19;" th:text="${error}"></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Register" type="submit">Register</button><br />
        <a th:href="@{/login}">Login</a>
    </form>
</div>
</body>
</html>